@import url('https://fonts.googleapis.com/css?family=Cuprum&display=swap');
body{ 
    font-family: "Cuprum";
}

*::selection {
    background: #F0E685;
}

input[type="text"] {
    align-content: center;
    margin: auto;    
}

.minimize:hover {
    background: #A5AADB;
    cursor: pointer;
}

.arrangement:hover {
    background: rgb(238, 238, 238);
}